<section class="relative h-[65vh] min-h-[500px] w-full flex items-center justify-center overflow-hidden bg-gray-200 dark:bg-black transition-colors duration-500 group"
         (mouseenter)="stopAutoplay()" 
         (mouseleave)="startAutoplay()">

  @for (slide of slides; track slide.image; let i = $index) {
    <div class="absolute inset-0 transition-opacity duration-1000 ease-in-out"
         [ngClass]="{'opacity-100 z-10': currentSlide === i, 'opacity-0 z-0 pointer-events-none': currentSlide !== i}">

      <img src="{{ slide.image }}" 
           alt="Lift Energy Instalaciones"
           class="absolute inset-0 w-full h-full object-cover transition-transform duration-[10000ms] ease-out"
           [ngClass]="{'scale-110': currentSlide === i, 'scale-100': currentSlide !== i}">
    </div>
  }

  <!-- El degradado inferior: De gris claro (modo claro) o negro (oscuro) hacia transparente -->
  <div class="absolute bottom-0 left-0 w-full h-32 bg-gradient-to-t from-gray-100/90 dark:from-black/80 to-transparent z-20 pointer-events-none transition-all duration-500"></div>

  <button (click)="prevSlide()" 
          class="absolute left-6 top-1/2 -translate-y-1/2 z-30 p-3 rounded-full bg-white/50 dark:bg-black/20 text-black/70 dark:text-white/50 backdrop-blur-md border border-black/10 dark:border-white/10 opacity-0 group-hover:opacity-100 hover:bg-lime-500/40 hover:text-black dark:hover:bg-lime-500/20 dark:hover:text-lime-400 dark:hover:border-lime-500/50 transition-all duration-500 transform -translate-x-8 group-hover:translate-x-0 cursor-pointer">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 19l-7-7 7-7"></path></svg>
  </button>

  <button (click)="nextSlide()" 
          class="absolute right-6 top-1/2 -translate-y-1/2 z-30 p-3 rounded-full bg-white/50 dark:bg-black/20 text-black/70 dark:text-white/50 backdrop-blur-md border border-black/10 dark:border-white/10 opacity-0 group-hover:opacity-100 hover:bg-lime-500/40 hover:text-black dark:hover:bg-lime-500/20 dark:hover:text-lime-400 dark:hover:border-lime-500/50 transition-all duration-500 transform translate-x-8 group-hover:translate-x-0 cursor-pointer">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5l7 7-7 7"></path></svg>
  </button>

  <div class="absolute bottom-8 left-1/2 -translate-x-1/2 z-30 flex gap-3">
    @for (slide of slides; track slide.image; let i = $index) {
            <button (click)="goToSlide(i)"
              class="h-1 rounded-full transition-all duration-500 cursor-pointer"
              [ngClass]="{'w-12 bg-lime-400 shadow-[0_0_10px_rgba(154,203,147,0.55)]': currentSlide === i, 'w-6 bg-white/30 hover:bg-white/60': currentSlide !== i}">
      </button>
    }
  </div>

</section>