<footer class="relative bg-transparent pt-16 pb-8 transition-colors duration-700">
  <div class="absolute top-0 left-0 w-full h-px bg-lime/5 dark:bg-white/10 transition-colors duration-700"></div>

  <div class="max-w-4xl mx-auto px-6 relative z-10 flex flex-col items-center text-center">
    
    <div class="flex flex-col items-center mb-12">
      <span class="text-4xl font-black uppercase tracking-tighter text-black dark:text-white transition-colors duration-700">
        LIFT <span class="text-lime-600 dark:text-lime-400 italic font-light transition-colors duration-700">ENERGY</span>
      </span>
      
      <span class="text-[10px] text-lime-700 dark:text-lime-400 font-bold tracking-[0.4em] uppercase mt-4 transition-colors duration-700">
        Technology & Development
      </span>
    </div>

    <div class="w-full pt-8 border-t border-black/5 dark:border-white/10 transition-colors duration-700">
      <p class="text-[10px] text-black dark:text-white font-medium uppercase tracking-[0.2em] opacity-60 transition-colors duration-700">
        {{ "FOOTER.RIGHTS" | translate }}
      </p>
    </div>
  </div>
</footer>