<footer class="bg-lime-900 py-10 px-4 sm:px-6">
  <div class="container mx-auto flex flex-col gap-10">

    <!-- Grid principal -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10">
      <!-- Columna 1 -->
      <div>
        <h3 class="text-xl font-bold mb-4 text-lime-300">Lift Energy Group</h3>
        <p class="text-white">Automated solutions for a more efficient and productive future at your fingertips.</p>
      </div>

      <!-- Columna 2 -->
      <div>
        <h3 class="text-xl font-bold mb-4 text-lime-300">Links</h3>
        <ul class="cursor-pointer">
          <li class="mb-2"><a class="text-white hover:text-lime-400 transition" (click)="this.goRoutes('/')">Welcome</a></li>
          <li class="mb-2"><a class="text-white hover:text-lime-400 transition" (click)="this.goRoutes('/')">Services</a></li>
          <li class="mb-2"><a class="text-white hover:text-lime-400 transition" (click)="this.goRoutes('/projects')">Projects</a></li>
          <li class="mb-2"><a class="text-white hover:text-lime-400 transition" (click)="this.goRoutes('/aboutus')">About us</a></li>
        </ul>
      </div>

      <!-- Columna 3 -->
      <div>
        <h3 class="text-xl font-bold mb-4 text-lime-300">Services</h3>
        <ul>
          <li class="mb-2"><a href="#" class="text-white hover:text-lime-400 transition">Automation Consulting</a></li>
          <li class="mb-2"><a href="#" class="text-white hover:text-lime-400 transition">Intelligent Systems</a></li>
          <li class="mb-2"><a href="#" class="text-white hover:text-lime-400 transition">Integration of Technologies</a></li>
          <li class="mb-2"><a href="#" class="text-white hover:text-lime-400 transition">Intelligent Products</a></li>
        </ul>
      </div>

      <!-- Columna 4 -->
      <div>
        <h3 class="text-xl font-bold mb-4 text-lime-300">Contact</h3>
        <ul class="text-white">
          <li class="mb-2">{{'info@lift.enegy'}}</li>
          <li class="mb-2">+58 424-606-9252</li>
          <li class="mb-2">Calle 72 con Av. 20. CC Montielco Planta Alta, Maracaibo 4001, Zulia</li>
        </ul>
      </div>
    </div>

    <!-- Footer inferior -->
    <div class="text-center border-t border-lime-700 pt-4">
      <p class="text-white text-sm">&copy; <span>{{ this.year() }}</span> Lift Energy Group. All rights reserved.</p>
    </div>
  </div>
</footer>