<div class="fixed inset-0 pointer-events-none z-[1]">
  <svg class="w-full h-full" preserveAspectRatio="none" viewBox="0 0 100 100">
    <defs>
      <filter id="glow">
        <feGaussianBlur stdDeviation="0.3" result="coloredBlur"/>
        <feMerge>
          <feMergeNode in="coloredBlur"/>
          <feMergeNode in="SourceGraphic"/>
        </feMerge>
      </filter>
    </defs>

    <path 
      #guidePath
      d="M 85 0 C 70 20, 98 40, 75 60 S 95 85, 85 100" 
      fill="none" 
      stroke="#a3e635" 
      stroke-width="0.18" 
      pathLength="1"
      stroke-dasharray="1"
      stroke-dashoffset="1"
      filter="url(#glow)"
      class="transition-all duration-200 ease-out opacity-40"
    />

    <circle 
      #guidePoint
      r="0.5" 
      fill="#a3e635" 
      filter="url(#glow)"
      class="opacity-90"
    />
  </svg>
</div>