@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "./styles/tailwind-theme.css";

/* --- 1. TU PANEL DE CONTROL --- */
:root {
  --bg-claro: #8c948ad2;    
  --bg-oscuro: #080f08;   
}

html { scroll-behavior: smooth; }

body {
  margin: 0;
  /* Color base blanco, pero sin !important para que el hover funcione */
  color: white; 
  background-color: var(--bg-claro) !important;
  transition: background-color 0.5s ease;
}

.dark body {
  background-color: var(--bg-oscuro) !important;
}

/* --- 2. FORZAR TRANSPARENCIA DE COMPONENTES --- */
app-about-us, app-services, app-projects, app-contact, 
app-innovation-well, app-energy-grid, app-smartlink,
section, .bg-main-theme {
  background-color: transparent !important;
  background-image: none !important;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-soft);
}
.scroll-title-dramatic {
  animation: superDramaticScale linear both;
  animation-timeline: view();
  animation-range: entry 0% exit 100%;
}